# ğŸ¬ ì˜í™” ì¶”ì²œì‹œìŠ¤í…œ ë§Œë“¤ê¸°
**"ë‚´ê°€ ì¢‹ì•„í•˜ëŠ” ì˜í™”ë¥¼ ìë™ìœ¼ë¡œ ì°¾ì•„ì£¼ëŠ” ì•Œê³ ë¦¬ì¦˜ ì œì‘ í”„ë¡œì íŠ¸"**

#### ëª©ì°¨
1. ë°ì´í„°
 - ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
 - ë°ì´í„° ì „ì²˜ë¦¬í•˜ê¸°
 - ë°ì´í„° ë¶„ì„í•˜ê¸°
 
 
2. ëª¨ë¸
 - ëª¨ë¸ ë§Œë“¤ê¸°
 - ëª¨ë¸ ì‹¤í–‰í•˜ê¸°
 
 
3. íšŒê³ 
 - ìš”ì•½
 - ê²°ë¡

---

## 1. ë°ì´í„°

### ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°

In [1]:
import os
import pandas as pd

rating_file_path=os.getenv('HOME') + '/aiffel/aiffel_exploration/E09/data/ml-1m/ratings.dat'
ratings_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv(rating_file_path, sep='::', names=ratings_cols, engine='python', encoding = "ISO-8859-1")
orginal_data_size = len(ratings)
ratings.head()

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

> ìœ ì € ë°ì´í„°ê°€ ê¹”ë”í•˜ê²Œ ì •ë¦¬ë˜ì–´ ìˆëŠ” íŒŒì¼ì´ë‹¤.

### ë°ì´í„° ì „ì²˜ë¦¬í•˜ê¸°

In [2]:
ratings = ratings[ratings['rating']>=3]
filtered_data_size = len(ratings)

print(f'orginal_data_size: {orginal_data_size}, filtered_data_size: {filtered_data_size}')
print(f'Ratio of Remaining Data is {filtered_data_size / orginal_data_size:.2%}')

orginal_data_size: 1000209, filtered_data_size: 836478
Ratio of Remaining Data is 83.63%

> 3ì  ë¯¸ë§Œ ë°ì´í„°ëŠ” ì‚­ì œ(ìœ ì €ê°€ ì„ í˜¸í•˜ì§€ ì•ŠëŠ”ë‹¤ê³  íŒë‹¨)

In [3]:
ratings.rename(columns={'rating':'count'}, inplace=True)
ratings['count']

0          5
1          3
2          3
3          4
4          5
          ..
1000203    3
1000205    5
1000206    5
1000207    4
1000208    4
Name: count, Length: 836478, dtype: int64

> ë³„ì ì„ ì‹œì²­íšŸìˆ˜ë¡œ í•´ì„

In [4]:
movie_file_path=os.getenv('HOME') + '/aiffel/aiffel_exploration/E09/data/ml-1m/movies.dat'
cols = ['movie_id', 'title', 'genre'] 
movies = pd.read_csv(movie_file_path, sep='::', names=cols, engine='python', encoding='ISO-8859-1')
movies.head()

   movie_id                               title                         genre
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

> ì˜í™” ë°ì´í„°ê°€ ì˜ ì •ë¦¬ë˜ì–´ ìˆë‹¤.

In [5]:
movie_data = pd.merge(ratings, movies, how = 'left', on = 'movie_id')
movie_data.head()

,user_id,movie_id,count,timestamp,title,genre
0,1,1193,5,978300760,One Flew Over the Cuckoo's Nest (1975),Drama
1,1,661,3,978302109,James and the Giant Peach (1996),Animation|Children's|Musical
2,1,914,3,978301968,My Fair Lady (1964),Musical|Romance
3,1,3408,4,978300275,Erin Brockovich (2000),Drama
4,1,2355,5,978824291,"Bug's Life, A (1998)",Animation|Children's|Comedy

ìœ ì € ë°ì´í„°ì™€ ì˜í™” ë°ì´í„°ë¥¼ moive_idë¥¼ ê¸°ì¤€ìœ¼ë¡œ í•©ì¹œë‹¤.

### ë°ì´í„° ë¶„ì„í•˜ê¸°

#### ratingsì— ìˆëŠ” ìœ ë‹ˆí¬í•œ ì˜í™” ê°œìˆ˜

In [6]:
ratings['movie_id'].nunique()

3628

#### ratingì— ìˆëŠ” ìœ ë‹ˆí¬í•œ ì‚¬ìš©ì ìˆ˜

In [7]:
ratings['user_id'].nunique()

6039

#### ê°€ì¥ ì¸ê¸° ìˆëŠ” ì˜í™” 30ê°œ(ì¸ê¸°ìˆœ)

In [8]:
movie_count = movie_data.groupby('title')['user_id'].count()
movie_count.sort_values(ascending=False).head(30)

title
American Beauty (1999)                                   3211
Star Wars: Episode IV - A New Hope (1977)                2910
Star Wars: Episode V - The Empire Strikes Back (1980)    2885
Star Wars: Episode VI - Return of the Jedi (1983)        2716
Saving Private Ryan (1998)                               2561
Terminator 2: Judgment Day (1991)                        2509
Silence of the Lambs, The (1991)                         2498
Raiders of the Lost Ark (1981)                           2473
Back to the Future (1985)                                2460
Matrix, The (1999)                                       2434
Jurassic Park (1993)                                     2413
Sixth Sense, The (1999)                                  2385
Fargo (1996)                                             2371
Braveheart (1995)                                        2314
Men in Black (1997)                                      2297
Schindler's List (1993)                                  2257
Princess Bride, The (1987)                               2252
Shakespeare in Love (1998)                               2213
L.A. Confidential (1997)                                 2210
Shawshank Redemption, The (1994)                         2194
Godfather, The (1972)                                    2167
Groundhog Day (1993)                                     2121
E.T. the Extra-Terrestrial (1982)                        2102
Being John Malkovich (1999)                              2066
Ghostbusters (1984)                                      2051
Pulp Fiction (1994)                                      2030
Forrest Gump (1994)                                      2022
Terminator, The (1984)                                   2019
Toy Story (1995)                                         2000
Fugitive, The (1993)                                     1941
Name: user_id, dtype: int64

> ìŠ¤íƒ€ì›Œì¦ˆ ì‹œë¦¬ì¦ˆê°€ ìƒìœ„ê¶Œì— ìˆë‹¤. í•„ì ë˜í•œ ë§¤ìš° ì¢‹ì•„í•˜ëŠ” ì˜í™”ì´ë‹¤.

---

## 2. ëª¨ë¸

### ëª¨ë¸ ë§Œë“¤ê¸°

#### ë‚´ê°€ ì„ í˜¸í•˜ëŠ” ì˜í™” 5ê°€ì§€ ratingì— ì¶”ê°€

In [9]:
# ëª¨ë¸ë§ì— ì‚¬ìš©í•˜ì§€ ì•ŠëŠ” ë°ì´í„° ì œê±°
movie_data = movie_data.drop(columns=['timestamp', 'genre','movie_id'])

In [10]:
# ì œëª© ì¹¼ëŸ¼
my_favorite = ['Star Wars: Episode VI - Return of the Jedi (1983)' , 'Terminator 2: Judgment Day (1991)', 'Back to the Future (1985)' ,
               'Matrix, The (1999)' ,'Jurassic Park (1993)']

# í‘œ ë§Œë“¤ê¸°
my_data = pd.DataFrame({'user_id' : ['wbj1209']*5, 'title' : my_favorite, 'count' : [5]*5})

# my_dataë¥¼ ë°ì´í„°ë¥¼ ê¸°ì¡´ ë°ì´í„°ì— ì¶”ê°€
if not movie_data.isin({'user_id' : ['wbj1209']})['user_id'].any() :
    movie_data = movie_data.append(my_data)
    
movie_data.tail(10)

        user_id  count                                              title
836473     6040      3                                     Platoon (1986)
836474     6040      5                            Crying Game, The (1992)
836475     6040      5                    Welcome to the Dollhouse (1995)
836476     6040      4                             Sophie's Choice (1982)
836477     6040      4                  E.T. the Extra-Terrestrial (1982)
0       wbj1209      5  Star Wars: Episode VI - Return of the Jedi (1983)
1       wbj1209      5                  Terminator 2: Judgment Day (1991)
2       wbj1209      5                          Back to the Future (1985)
3       wbj1209      5                                 Matrix, The (1999)
4       wbj1209      5                               Jurassic Park (1993)

#### CSR matrix

In [11]:
# ê³ ìœ í•œ ìœ ì €, íƒ€ì´í‹€
user_unique = movie_data['user_id'].unique()
title_unique = movie_data['title'].unique()

# ìœ ì €,íƒ€ì´í‹€ indexing
user_to_idx = {v:k for k,v in enumerate(user_unique)}
title_to_idx = {v:k for k,v in enumerate(title_unique)}

# ì¸ë±ì‹±ì´ ì˜ ë˜ì—ˆëŠ”ì§€ í™•ì¸
print(user_to_idx['wbj1209']) # 6040ëª…ì˜ ìœ ì € ì¤‘ ë§ˆì§€ë§‰ìœ¼ë¡œ ì¶”ê°€ëœ ìœ ì €ì´ë‹ˆ 6039ì´ ë‚˜ì™€ì•¼ í•¨

6039

In [12]:
# ë°ì´í„° ì»¬ëŸ¼ ê°’ì„ indexing ê°’ìœ¼ë¡œ ë³€ê²½

# user_to_idx.getì„ í†µí•´ user_id ì»¬ëŸ¼ì˜ ëª¨ë“  ê°’ì„ ì¸ë±ì‹±í•œ Seriesë¥¼ êµ¬í•´ ë´…ì‹œë‹¤. 
# í˜¹ì‹œ ì •ìƒì ìœ¼ë¡œ ì¸ë±ì‹±ë˜ì§€ ì•Šì€ rowê°€ ìˆë‹¤ë©´ ì¸ë±ìŠ¤ê°€ NaNì´ ë  í…Œë‹ˆ dropna()ë¡œ ì œê±°í•©ë‹ˆë‹¤. 
temp_user_data = movie_data['user_id'].map(user_to_idx.get).dropna()
if len(temp_user_data) == len(movie_data):   # ëª¨ë“  rowê°€ ì •ìƒì ìœ¼ë¡œ ì¸ë±ì‹±ë˜ì—ˆë‹¤ë©´
    print('user_id column indexing OK!!')
    movie_data['user_id'] = temp_user_data   # data['user_id']ì„ ì¸ë±ì‹±ëœ Seriesë¡œ êµì²´í•´ ì¤ë‹ˆë‹¤. 
else:
    print('user_id column indexing Fail!!')
    
# temp_title_dataì„ í†µí•´ title ì»¬ëŸ¼ë„ ë™ì¼í•œ ë°©ì‹ìœ¼ë¡œ ì¸ë±ì‹± í•´ì¤ë‹ˆë‹¤. 
temp_title_data = movie_data['title'].map(title_to_idx.get).dropna()
if len(temp_title_data) == len(movie_data):
    print('title column indexing OK!!')
    movie_data['title'] = temp_title_data
else:
    print('title column indexing Fail!!')

movie_data

user_id column indexing OK!!
title column indexing OK!!

    user_id  count  title
0         0      5      0
1         0      3      1
2         0      3      2
3         0      4      3
4         0      5      4
..      ...    ...    ...
0      6039      5     64
1      6039      5     92
2      6039      5     22
3      6039      5    124
4      6039      5    107

[836483 rows x 3 columns]

In [13]:
from scipy.sparse import csr_matrix

num_user = movie_data['user_id'].nunique()
num_movie = movie_data['title'].nunique()

csr_data = csr_matrix((movie_data['count'], (movie_data.user_id, movie_data.title)), shape= (num_user, num_movie))
csr_data

<6040x3628 sparse matrix of type '<class 'numpy.longlong'>'
	with 836483 stored elements in Compressed Sparse Row format>

#### MF ëª¨ë¸ í›ˆë ¨

In [14]:
from implicit.als import AlternatingLeastSquares
import os
import numpy as np

# implicit ë¼ì´ë¸ŒëŸ¬ë¦¬ì—ì„œ ê¶Œì¥í•˜ê³  ìˆëŠ” ë¶€ë¶„ì…ë‹ˆë‹¤. í•™ìŠµ ë‚´ìš©ê³¼ëŠ” ë¬´ê´€
os.environ['OPENBLAS_NUM_THREADS']='1'
os.environ['KMP_DUPLICATE_LIB_OK']='True'
os.environ['MKL_NUM_THREADS']='1'

In [15]:
# Implicit AlternatingLeastSquares ëª¨ë¸ì˜ ì„ ì–¸
als_model = AlternatingLeastSquares(factors=100, regularization=0.01, use_gpu=False, iterations=15, dtype=np.float32)

In [16]:
# als ëª¨ë¸ì€ inputìœ¼ë¡œ (item X user ê¼´ì˜ matrixë¥¼ ë°›ê¸° ë•Œë¬¸ì— Transposeí•´ì¤ë‹ˆë‹¤.)
csr_data_transpose = csr_data.T
csr_data_transpose

<3628x6040 sparse matrix of type '<class 'numpy.longlong'>'
	with 836483 stored elements in Compressed Sparse Column format>

In [17]:
# ëª¨ë¸ í›ˆë ¨
als_model.fit(csr_data_transpose)

  0%|          | 0/15 [00:00<?, ?it/s]

### ëª¨ë¸ ì‹¤í–‰í•˜ê¸°

#### ì„ í˜¸/ë¹„ì„ í˜¸ ì˜í™”ì™€ì˜ ë²¡í„°ê°’ ì°¨ì´

In [18]:
# ëª¨ë¸ì˜ ì˜ˆì¸¡(ë‚´ê°€ ì„ í˜¸í•˜ëŠ” ì˜í™”)
wbj1209, matrix = user_to_idx['wbj1209'], title_to_idx['Matrix, The (1999)']
wbj1209_vector, matrix_vector = als_model.user_factors[wbj1209], als_model.item_factors[matrix]
np.dot(wbj1209_vector, matrix_vector)

0.6443497

In [19]:
# ëª¨ë¸ì˜ ì˜ˆì¸¡(ë‚´ê°€ ì„ í˜¸í•˜ì§€ ì•ŠëŠ” ì˜í™”)
fugitive = title_to_idx['Fugitive, The (1993)']
fugitive_vector = als_model.item_factors[fugitive]
np.dot(wbj1209_vector, fugitive_vector)

0.24380147

#### ë‚´ê°€ ì¢‹ì•„í•˜ëŠ” ì˜í™”ì™€ ë¹„ìŠ·í•œ ì˜í™” ì¶”ì²œ

In [20]:
# indexë¡œë¶€í„° titleì„ ì–»ëŠ” dictë¥¼ ìƒì„±í•©ë‹ˆë‹¤.
idx_to_title = {v:k for k,v in title_to_idx.items()}

def get_similar_movie(movie_name: str):
    movie_id = title_to_idx[movie_name]
    similar_movie = als_model.similar_items(movie_id)
    similar_movie = [idx_to_title[i[0]] for i in similar_movie]
    return similar_movie

In [21]:
get_similar_movie('Matrix, The (1999)')

['Matrix, The (1999)',
 'Terminator 2: Judgment Day (1991)',
 'Total Recall (1990)',
 'Fugitive, The (1993)',
 'Terminator, The (1984)',
 'Fifth Element, The (1997)',
 'Face/Off (1997)',
 'Jurassic Park (1993)',
 'Men in Black (1997)',
 'Star Wars: Episode IV - A New Hope (1977)']

> ê½¤ ì˜ ì˜ˆì¸¡í•˜ëŠ” ê²ƒìœ¼ë¡œ ë³´ì¸ë‹¤.

#### ë‚´ê°€ ì¢‹ì•„í•  ë§Œí•œ ì˜í™”ë“¤ì„ ì¶”ì²œ

In [22]:
user = user_to_idx['wbj1209']

# recommendì—ì„œëŠ” user*item CSR Matrixë¥¼ ë°›ìŠµë‹ˆë‹¤.
movie_recommended = als_model.recommend(user, csr_data, N=20, filter_already_liked_items=True)

[idx_to_title[i[0]] for i in movie_recommended]

['Star Wars: Episode IV - A New Hope (1977)',
 'Star Wars: Episode V - The Empire Strikes Back (1980)',
 'Men in Black (1997)',
 'Total Recall (1990)',
 'Terminator, The (1984)',
 'Braveheart (1995)',
 'E.T. the Extra-Terrestrial (1982)',
 'Star Wars: Episode I - The Phantom Menace (1999)',
 'Raiders of the Lost Ark (1981)',
 'Saving Private Ryan (1998)',
 'Forrest Gump (1994)',
 'Sixth Sense, The (1999)',
 'Fugitive, The (1993)',
 'American Beauty (1999)',
 'Alien (1979)',
 'X-Men (2000)',
 'Aliens (1986)',
 'Airplane! (1980)',
 'Lost World: Jurassic Park, The (1997)',
 'Princess Bride, The (1987)']

> ì´ ë˜í•œ ê½¤ ì˜ ì˜ˆì¸¡í•˜ëŠ” ê²ƒìœ¼ë¡œ ë³´ì¸ë‹¤.

---

## 3. íšŒê³

**CSR matrix**
- ë°ì´í„°ëŸ‰ì´ ë°©ëŒ€í•¨ì— ë¹„í•´ ê°œê°œì¸ì´ ì ‘í•˜ëŠ” ì •ë³´ëŠ” ì ìŒ
- ëŒ€ë¶€ë¶„ì˜ ê³µê°„ì´ 0ìœ¼ë¡œ ì±„ì›Œì§. ì´ëŸ° í–‰ë ¬ì„ Sparse Matrix
- ë©”ëª¨ë¦¬ ë‚­ë¹„ë¥¼ ìµœì†Œí™”í•˜ê¸° ìœ„í•´ ìœ ì €ê°€ ë“¤ì–´ë³¸ ì•„í‹°ìŠ¤íŠ¸ì˜ ì •ë³´ë§Œì„ ì €ì¥í•˜ë©´ì„œ ì „ì²´ í–‰ë ¬ í˜•íƒœë¥¼ ìœ ì¶”í•  ìˆ˜ ìˆëŠ” ë°ì´í„° êµ¬ì¡°


**MF ëª¨ë¸**
- Matrix Factorization ëª¨ë¸
- implicit íŒ¨í‚¤ì§€ëŠ” ì•”ë¬µì (implicit) datasetì„ ì‚¬ìš©í•˜ëŠ” ë‹¤ì–‘í•œ ëª¨ë¸ì„ êµ‰ì¥íˆ ë¹ ë¥´ê²Œ í•™ìŠµ ê°€ëŠ¥
- AlternatingLeastSquares ë°©ì‹


**ì¶”ì²œ ê²°ê³¼**
ì‹¤ì œë¡œ ì¶”ì²œí•´ì¤€ ì˜í™” ëª©ë¡ì˜ ê²½ìš° ê½¤ë‚˜ ì˜ ì¶”ì²œí•´ì¤Œì„ í™•ì¸í•˜ì˜€ë‹¤. ë¬¼ë¡  ì¢‹ì•„í•˜ëŠ” ì¥ë¥´ê°€ ëšœë ·í•´ì„œ ê·¸ëŸ´ ìˆ˜ ìˆë‹¤. ë²¡í„° ì‚¬ì´ì˜ ê±°ë¦¬ì— ëŒ€í•œ ê¸°ì¤€ì ì´ ì• ë§¤í•˜ë‹¤. ì¶”ì²œì‹œìŠ¤í…œì— ëŒ€í•œ ì›ë¦¬ë¥¼ ê¼¼ê¼¼íˆ ì‚´í´ë³¼ ì˜ˆì •ì´ë‹¤.