# ğŸ‘ ì˜í™” ì¶”ì²œì‹œìŠ¤í…œ ë§Œë“¤ê¸°(SBR)
**"Session based Recommendation ì‹œìŠ¤í…œ ì œì‘í•˜ê¸°"**

#### ğŸ™ ëª©ì°¨

1. ë°ì´í„° ì „ì²˜ë¦¬
2. ë¯¸ë‹ˆë°°ì¹˜ êµ¬ì„±
3. ëª¨ë¸ êµ¬ì„±
4. ëª¨ë¸ í•™ìŠµ
5. ëª¨ë¸ í…ŒìŠ¤íŠ¸
6. íšŒê³

---

#### ëª¨ë“ˆ

In [1]:
from pathlib import Path
import os

import numpy as np
import pandas as pd

import datetime as dt
import warnings
warnings.filterwarnings('ignore')

import tensorflow as tf
from tensorflow.keras.layers import Input, Dense, Dropout, GRU
from tensorflow.keras.losses import categorical_crossentropy
from tensorflow.keras.models import Model
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.utils import to_categorical
from tqdm import tqdm

#### ê²½ë¡œ

In [2]:
data_path = Path(os.getenv('HOME')+'/aiffel/yoochoose/data/') 
train_path = data_path / 'ratings.dat'

In [ ]:
# ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
def load_data(data_path: Path, nrows=None):
    data = pd.read_csv(data_path, sep='::', header=None, usecols=[0, 1, 2, 3], dtype={0: np.int32, 1: np.int32, 2: np.int32}, nrows=nrows)
    data.columns = ['UserId', 'ItemId', 'Rating', 'Time']
    return data

data = load_data(train_path, None)
data.sort_values(['UserId', 'Time'], inplace=True)  # dataë¥¼ idì™€ ì‹œê°„ ìˆœì„œë¡œ ì •ë ¬í•´ì¤ë‹ˆë‹¤.
data

---

## Step1. ë°ì´í„° ì „ì²˜ë¦¬

- í•­ëª©ë³„ ê¸°ë³¸ë¶„ì„
- session length
- session time
- cleaning

In [4]:
# ìœ ì € ìˆ˜, ì•„ì´í…œ ìˆ˜
data['UserId'].nunique(), data['ItemId'].nunique()

(6040, 3706)

**session length**

In [5]:
# ê° ìœ ì €ë‹¹ í´ë¦­ ë°ì´í„°
session_length = data.groupby('UserId').size()
session_length

UserId
1        53
2       129
3        51
4        21
5       198
       ...
6036    888
6037    202
6038     20
6039    123
6040    341
Length: 6040, dtype: int64

In [6]:
# ì¤‘ê°„ê°’, í‰ê· ê°’ 
session_length.median(), session_length.mean()

(96.0, 165.5975165562914)

In [7]:
# ìµœì†Œ, ìµœëŒ€
session_length.min(), session_length.max()

(20, 2314)

In [8]:
# 0.1 íŠ¹ì´ê°’ ì œì™¸
session_length.quantile(0.999)

1343.181000000005

In [9]:
long_session = session_length[session_length==2314].index[0]
data[data['UserId']==long_session]

        UserId  ItemId  Rating        Time
696969    4169    1268       5   965333392
697168    4169    2617       4   965333392
697185    4169    2628       4   965333392
697219    4169    2653       4   965333392
697275    4169     423       3   965333392
...        ...     ...     ...         ...
697882    4169    3754       2  1024174347
695702    4169    1413       3  1024175031
697358    4169     494       4  1024175760
695945    4169    1804       2  1024175783
696446    4169    1548       3  1024176337

[2314 rows x 4 columns]

**session time**

In [10]:
# ìœ ì €ì¹œí™”ì ì¸ ì‹œê°„ í‘œì‹œ í˜•íƒœë¡œ ë³€ê²½
from datetime import datetime

date_list = []
for time in data['Time']:
    temp = dt.datetime.fromtimestamp(time)
    date_list.append(temp)

data['Time'] = date_list
data

         UserId  ItemId  Rating                Time
31            1    3186       4 2000-12-31 22:00:19
22            1    1270       5 2000-12-31 22:00:55
27            1    1721       4 2000-12-31 22:00:55
37            1    1022       5 2000-12-31 22:00:55
24            1    2340       3 2000-12-31 22:01:43
...         ...     ...     ...                 ...
1000019    6040    2917       4 2001-08-10 14:40:29
999988     6040    1921       4 2001-08-10 14:41:04
1000172    6040    1784       3 2001-08-10 14:41:04
1000167    6040     161       3 2001-08-10 14:41:26
1000042    6040    1221       4 2001-08-20 13:44:15

[1000209 rows x 4 columns]

In [11]:
# ê³¼ê±°, ìµœì‹ 
oldest, latest = data['Time'].min(), data['Time'].max()
print(oldest) 
print(latest)

2000-04-25 23:05:32
2003-02-28 17:49:50

**cleaning**

In [12]:
# í‰ì ì´ ë‚®ì€ ë°ì´í„° ì œê±°
data = data[data['Rating'] >= 3]
data

         UserId  ItemId  Rating                Time
31            1    3186       4 2000-12-31 22:00:19
22            1    1270       5 2000-12-31 22:00:55
27            1    1721       4 2000-12-31 22:00:55
37            1    1022       5 2000-12-31 22:00:55
24            1    2340       3 2000-12-31 22:01:43
...         ...     ...     ...                 ...
1000019    6040    2917       4 2001-08-10 14:40:29
999988     6040    1921       4 2001-08-10 14:41:04
1000172    6040    1784       3 2001-08-10 14:41:04
1000167    6040     161       3 2001-08-10 14:41:26
1000042    6040    1221       4 2001-08-20 13:44:15

[836478 rows x 4 columns]

---

## Step2. ë¯¸ë‹ˆë°°ì¹˜ êµ¬ì„±

**ë°ì´í„°ì…‹ ë¶„ë¦¬**

In [13]:
# ë°ì´í„°ì…‹ ë¶„ë¦¬
def split_by_date(data: pd.DataFrame, n_days: int):
    final_time = data['Time'].max()
    session_last_time = data.groupby('Time')['Time'].max()
    session_in_train = session_last_time[session_last_time < final_time - dt.timedelta(n_days)].index
    session_in_test = session_last_time[session_last_time >= final_time - dt.timedelta(n_days)].index

    before_date = data[data['Time'].isin(session_in_train)]
    after_date = data[data['Time'].isin(session_in_test)]
    return before_date, after_date

In [14]:
tr, test = split_by_date(data, n_days=90)
tr, val = split_by_date(tr, n_days=90)

In [15]:
# ë°ì´í„° í™•ì¸
def stats_info(data: pd.DataFrame, status: str):
    print(f'* {status} Set Stats Info\n'
          f'\t Events: {len(data)}\n'
          f'\t Sessions: {data["UserId"].nunique()}\n'
          f'\t Items: {data["ItemId"].nunique()}\n'
          f'\t First Time : {data["Time"].min()}\n'
          f'\t Last Time : {data["Time"].max()}\n')

In [16]:
stats_info(tr, 'train')
stats_info(val, 'valid')
stats_info(test, 'test')

* train Set Stats Info
	 Events: 829175
	 Sessions: 6038
	 Items: 3623
	 First Time : 2000-04-25 23:05:32
	 Last Time : 2002-09-01 04:20:59

* valid Set Stats Info
	 Events: 3550
	 Sessions: 228
	 Items: 1553
	 First Time : 2002-09-01 19:41:39
	 Last Time : 2002-11-30 13:47:32

* test Set Stats Info
	 Events: 3753
	 Sessions: 230
	 Items: 1566
	 First Time : 2002-11-30 20:24:52
	 Last Time : 2003-02-28 17:49:50

In [17]:
# train ì…‹ìœ¼ë¡œ í•™ìŠµí•˜ë©´ì„œ valid ì…‹ìœ¼ë¡œ ê²€ì¦í•©ë‹ˆë‹¤.
def train_model(model, args):
    train_dataset = SessionDataset(args.tr)
    train_loader = SessionDataLoader(train_dataset, batch_size=args.batch_size)

    for epoch in range(1, args.epochs + 1):
        total_step = len(args.tr) - args.tr['UserId'].nunique()
        tr_loader = tqdm(train_loader, total=total_step // args.batch_size, desc='Train', mininterval=1)
        for feat, target, mask in tr_loader:
            reset_hidden_states(model, mask)  # ì¢…ë£Œëœ sessionì€ hidden_stateë¥¼ ì´ˆê¸°í™”í•©ë‹ˆë‹¤. ì•„ë˜ ë©”ì„œë“œì—ì„œ í™•ì¸í•´ì£¼ì„¸ìš”.

            input_ohe = to_categorical(feat, num_classes=args.num_items)
            input_ohe = np.expand_dims(input_ohe, axis=1)
            target_ohe = to_categorical(target, num_classes=args.num_items)

            result = model.train_on_batch(input_ohe, target_ohe)
            tr_loader.set_postfix(train_loss=result[0], accuracy = result[1])

        val_recall, val_mrr = get_metrics(args.val, model, args, args.k)  # valid setì— ëŒ€í•´ ê²€ì¦í•©ë‹ˆë‹¤.

        print(f"\t - Recall@{args.k} epoch {epoch}: {val_recall:3f}")
        print(f"\t - MRR@{args.k}    epoch {epoch}: {val_mrr:3f}\n")


def reset_hidden_states(model, mask):
    gru_layer = model.get_layer(name='GRU')  # modelì—ì„œ gru layerë¥¼ ê°€ì ¸ì˜µë‹ˆë‹¤.
    hidden_states = gru_layer.states[0].numpy()  # gru_layerì˜ parameterë¥¼ ê°€ì ¸ì˜µë‹ˆë‹¤.
    for elt in mask:  # maskëœ ì¸ë±ìŠ¤ ì¦‰, ì¢…ë£Œëœ ì„¸ì…˜ì˜ ì¸ë±ìŠ¤ë¥¼ ëŒë©´ì„œ
        hidden_states[elt, :] = 0  # parameterë¥¼ ì´ˆê¸°í™” í•©ë‹ˆë‹¤.
    gru_layer.reset_states(states=hidden_states)


def get_metrics(data, model, args, k: int):  # validì…‹ê³¼ testì…‹ì„ í‰ê°€í•˜ëŠ” ì½”ë“œì…ë‹ˆë‹¤. 
                                             # trainê³¼ ê±°ì˜ ê°™ì§€ë§Œ mrr, recallì„ êµ¬í•˜ëŠ” ë¼ì¸ì´ ìˆìŠµë‹ˆë‹¤.
    dataset = SessionDataset(data)
    loader = SessionDataLoader(dataset, batch_size=args.batch_size)
    recall_list, mrr_list = [], []

    total_step = len(data) - data['UserId'].nunique()
    for inputs, label, mask in tqdm(loader, total=total_step // args.batch_size, desc='Evaluation', mininterval=1):
        reset_hidden_states(model, mask)
        input_ohe = to_categorical(inputs, num_classes=args.num_items)
        input_ohe = np.expand_dims(input_ohe, axis=1)

        pred = model.predict(input_ohe, batch_size=args.batch_size)
        pred_arg = tf.argsort(pred, direction='DESCENDING')  # softmax ê°’ì´ í° ìˆœì„œëŒ€ë¡œ sorting í•©ë‹ˆë‹¤.

        length = len(inputs)
        recall_list.extend([recall_k(pred_arg[i], label[i], k) for i in range(length)])
        mrr_list.extend([mrr_k(pred_arg[i], label[i], k) for i in range(length)])

    recall, mrr = np.mean(recall_list), np.mean(mrr_list)
    return recall, mrr

In [18]:
# train setì— ì—†ëŠ” ì•„ì´í…œì´ val, testê¸°ê°„ì— ìƒê¸¸ ìˆ˜ ìˆìœ¼ë¯€ë¡œ train dataë¥¼ ê¸°ì¤€ìœ¼ë¡œ ì¸ë±ì‹±í•©ë‹ˆë‹¤.
id2idx = {item_id : index for index, item_id in enumerate(tr['ItemId'].unique())}

def indexing(df, id2idx):
    df['item_idx'] = df['ItemId'].map(lambda x: id2idx.get(x, -1))  # id2idxì— ì—†ëŠ” ì•„ì´í…œì€ ëª¨ë¥´ëŠ” ê°’(-1) ì²˜ë¦¬ í•´ì¤ë‹ˆë‹¤.
    return df

tr = indexing(tr, id2idx)
val = indexing(val, id2idx)
test = indexing(test, id2idx)

In [19]:
save_path = data_path / 'processed'
save_path.mkdir(parents=True, exist_ok=True)

tr.to_pickle(save_path / 'train.pkl')
val.to_pickle(save_path / 'valid.pkl')
test.to_pickle(save_path / 'test.pkl')

**SessionDataset**   
ë°ì´í„°ê°€ ì£¼ì–´ì§€ë©´ ì„¸ì…˜ì´ ì‹œì‘ë˜ëŠ” ì¸ë±ìŠ¤ë¥¼ ë‹´ëŠ” ê°’ê³¼ ì„¸ì…˜ì„ ìƒˆë¡œ ì¸ë±ì‹±í•œ ê°’ì„ ê°–ëŠ” í´ë˜ìŠ¤ë¥¼ ë§Œë“¬

In [20]:
class SessionDataset:
    """Credit to yhs-968/pyGRU4REC."""

    def __init__(self, data):
        self.df = data
        self.click_offsets = self.get_click_offsets()
        self.session_idx = np.arange(self.df['UserId'].nunique())  # indexing to UserId

    def get_click_offsets(self):
        """
        Return the indexes of the first click of each session IDs,
        """
        offsets = np.zeros(self.df['UserId'].nunique() + 1, dtype=np.int32)
        offsets[1:] = self.df.groupby('UserId').size().cumsum()
        return offsets

In [21]:
tr_dataset = SessionDataset(tr)
tr_dataset.df.head(10)

    UserId  ItemId  Rating                Time  item_idx
31       1    3186       4 2000-12-31 22:00:19         0
22       1    1270       5 2000-12-31 22:00:55         1
27       1    1721       4 2000-12-31 22:00:55         2
37       1    1022       5 2000-12-31 22:00:55         3
24       1    2340       3 2000-12-31 22:01:43         4
36       1    1836       5 2000-12-31 22:02:52         5
3        1    3408       4 2000-12-31 22:04:35         6
7        1    2804       5 2000-12-31 22:11:59         7
47       1    1207       4 2000-12-31 22:11:59         8
0        1    1193       5 2000-12-31 22:12:40         9

In [22]:
tr_dataset.click_offsets

array([     0,     53,    169, ..., 828780, 828899, 829175], dtype=int32)

In [23]:
tr_dataset.session_idx

array([   0,    1,    2, ..., 6035, 6036, 6037])

**SessionDataLoader**   
SessionDataset ê°ì²´ë¥¼ ë°›ì•„ì„œ SEssion-Parallel mini-batchë¥¼ ë§Œë“¬

In [24]:
class SessionDataLoader:
    """Credit to yhs-968/pyGRU4REC."""

    def __init__(self, dataset: SessionDataset, batch_size=50):
        self.dataset = dataset
        self.batch_size = batch_size

    def __iter__(self):
        """ Returns the iterator for producing session-parallel training mini-batches.
        Yields:
            input (B,):  Item indices that will be encoded as one-hot vectors later.
            target (B,): a Variable that stores the target item indices
            masks: Numpy array indicating the positions of the sessions to be terminated
        """

        start, end, mask, last_session, finished = self.initialize()  # initialize ë©”ì†Œë“œì—ì„œ í™•ì¸í•´ì£¼ì„¸ìš”.
        """
        start : Index Where Session Start
        end : Index Where Session End
        mask : indicator for the sessions to be terminated
        """

        while not finished:
            min_len = (end - start).min() - 1  # Shortest Length Among Sessions
            for i in range(min_len):
                # Build inputs & targets
                inp = self.dataset.df['item_idx'].values[start + i]
                target = self.dataset.df['item_idx'].values[start + i + 1]
                yield inp, target, mask

            start, end, mask, last_session, finished = self.update_status(start, end, min_len, last_session, finished)

    def initialize(self):
        first_iters = np.arange(self.batch_size)    # ì²« ë°°ì¹˜ì— ì‚¬ìš©í•  ì„¸ì…˜ Indexë¥¼ ê°€ì ¸ì˜µë‹ˆë‹¤.
        last_session = self.batch_size - 1    # ë§ˆì§€ë§‰ìœ¼ë¡œ ë‹¤ë£¨ê³  ìˆëŠ” ì„¸ì…˜ Indexë¥¼ ì €ì¥í•´ë‘¡ë‹ˆë‹¤.
        start = self.dataset.click_offsets[self.dataset.session_idx[first_iters]]       # data ìƒì—ì„œ sessionì´ ì‹œì‘ëœ ìœ„ì¹˜ë¥¼ ê°€ì ¸ì˜µë‹ˆë‹¤.
        end = self.dataset.click_offsets[self.dataset.session_idx[first_iters] + 1]  # sessionì´ ëë‚œ ìœ„ì¹˜ ë°”ë¡œ ë‹¤ìŒ ìœ„ì¹˜ë¥¼ ê°€ì ¸ì˜µë‹ˆë‹¤.
        mask = np.array([])   # sessionì˜ ëª¨ë“  ì•„ì´í…œì„ ë‹¤ ëŒì€ ê²½ìš° maskì— ì¶”ê°€í•´ì¤„ ê²ƒì…ë‹ˆë‹¤.
        finished = False         # dataë¥¼ ì „ë¶€ ëŒì•˜ëŠ”ì§€ ê¸°ë¡í•˜ê¸° ìœ„í•œ ë³€ìˆ˜ì…ë‹ˆë‹¤.
        return start, end, mask, last_session, finished

    def update_status(self, start: np.ndarray, end: np.ndarray, min_len: int, last_session: int, finished: bool):  
        # ë‹¤ìŒ ë°°ì¹˜ ë°ì´í„°ë¥¼ ìƒì„±í•˜ê¸° ìœ„í•´ ìƒíƒœë¥¼ updateí•©ë‹ˆë‹¤.
        
        start += min_len   # __iter__ì—ì„œ min_len ë§Œí¼ forë¬¸ì„ ëŒì•˜ìœ¼ë¯€ë¡œ startë¥¼ min_len ë§Œí¼ ë”í•´ì¤ë‹ˆë‹¤.
        mask = np.arange(self.batch_size)[(end - start) == 1]  
        # endëŠ” ë‹¤ìŒ ì„¸ì…˜ì´ ì‹œì‘ë˜ëŠ” ìœ„ì¹˜ì¸ë° startì™€ í•œ ì¹¸ ì°¨ì´ë‚œë‹¤ëŠ” ê²ƒì€ sessionì´ ëë‚¬ë‹¤ëŠ” ëœ»ì…ë‹ˆë‹¤. maskì— ê¸°ë¡í•´ì¤ë‹ˆë‹¤.

        for i, idx in enumerate(mask, start=1):  # maskì— ì¶”ê°€ëœ ì„¸ì…˜ ê°œìˆ˜ë§Œí¼ ìƒˆë¡œìš´ ì„¸ì…˜ì„ ëŒê²ƒì…ë‹ˆë‹¤.
            new_session = last_session + i  
            if new_session > self.dataset.session_idx[-1]:  # ë§Œì•½ ìƒˆë¡œìš´ ì„¸ì…˜ì´ ë§ˆì§€ë§‰ ì„¸ì…˜ indexë³´ë‹¤ í¬ë‹¤ë©´ ëª¨ë“  í•™ìŠµë°ì´í„°ë¥¼ ëˆ ê²ƒì…ë‹ˆë‹¤.
                finished = True
                break
            # update the next starting/ending point
            start[idx] = self.dataset.click_offsets[self.dataset.session_idx[new_session]]     # ì¢…ë£Œëœ ì„¸ì…˜ ëŒ€ì‹  ìƒˆë¡œìš´ ì„¸ì…˜ì˜ ì‹œì‘ì ì„ ê¸°ë¡í•©ë‹ˆë‹¤.
            end[idx] = self.dataset.click_offsets[self.dataset.session_idx[new_session] + 1]

        last_session += len(mask)  # ë§ˆì§€ë§‰ ì„¸ì…˜ì˜ ìœ„ì¹˜ë¥¼ ê¸°ë¡í•´ë‘¡ë‹ˆë‹¤.
        return start, end, mask, last_session, finished

In [25]:
tr_data_loader = SessionDataLoader(tr_dataset, batch_size=4)
tr_dataset.df.head(15)

    UserId  ItemId  Rating                Time  item_idx
31       1    3186       4 2000-12-31 22:00:19         0
22       1    1270       5 2000-12-31 22:00:55         1
27       1    1721       4 2000-12-31 22:00:55         2
37       1    1022       5 2000-12-31 22:00:55         3
24       1    2340       3 2000-12-31 22:01:43         4
36       1    1836       5 2000-12-31 22:02:52         5
3        1    3408       4 2000-12-31 22:04:35         6
7        1    2804       5 2000-12-31 22:11:59         7
47       1    1207       4 2000-12-31 22:11:59         8
0        1    1193       5 2000-12-31 22:12:40         9
21       1     720       3 2000-12-31 22:12:40        10
44       1     260       4 2000-12-31 22:12:40        11
9        1     919       4 2000-12-31 22:22:48        12
51       1     608       4 2000-12-31 22:23:18        13
43       1    2692       4 2000-12-31 22:26:10        14

In [26]:
iter_ex = iter(tr_data_loader)

In [27]:
inputs, labels, mask =  next(iter_ex)
print(f'Model Input Item Idx are : {inputs}')
print(f'Label Item Idx are : {"":5} {labels}')
print(f'Previous Masked Input Idx are {mask}')

Model Input Item Idx are : [ 0 53 64 54]
Label Item Idx are :       [ 1 54 62 24]
Previous Masked Input Idx are []

---

## step3. ëª¨ë¸ êµ¬ì„±

In [28]:
def mrr_k(pred, truth: int, k: int):
    indexing = np.where(pred[:k] == truth)[0]
    if len(indexing) > 0:
        return 1 / (indexing[0] + 1)
    else:
        return 0


def recall_k(pred, truth: int, k: int) -> int:
    answer = truth in pred[:k]
    return int(answer)

In [29]:
def create_model(args):
    inputs = Input(batch_shape=(args.batch_size, 1, args.num_items))
    gru, _ = GRU(args.hsz, stateful=True, return_state=True, name='GRU')(inputs)
    dropout = Dropout(args.drop_rate)(gru)
    predictions = Dense(args.num_items, activation='softmax')(dropout)
    model = Model(inputs=inputs, outputs=[predictions])
    model.compile(loss=categorical_crossentropy, optimizer=Adam(args.lr), metrics=['accuracy'])
    model.summary()
    return model

In [30]:
class Args:
    def __init__(self, tr, val, test, batch_size, hsz, drop_rate, lr, epochs, k):
        self.tr = tr
        self.val = val
        self.test = test
        self.num_items = tr['ItemId'].nunique()
        self.num_sessions = tr['UserId'].nunique()
        self.batch_size = batch_size
        self.hsz = hsz
        self.drop_rate = drop_rate
        self.lr = lr
        self.epochs = epochs
        self.k = k

In [31]:
args = Args(tr, val, test, batch_size=128, hsz=50, drop_rate=0.1, lr=0.001, epochs=2, k=20)
model = create_model(args)

Model: "model"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         [(128, 1, 3623)]          0
_________________________________________________________________
GRU (GRU)                    [(128, 50), (128, 50)]    551250
_________________________________________________________________
dropout (Dropout)            (128, 50)                 0
_________________________________________________________________
dense (Dense)                (128, 3623)               184773
=================================================================
Total params: 736,023
Trainable params: 736,023
Non-trainable params: 0
_________________________________________________________________

---

## Step.4 ëª¨ë¸í•™ìŠµ

In [32]:
train_model(model, args)

Train:  98%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Š| 6294/6430 [01:43<00:02, 60.73it/s, accuracy=0, train_loss=6.24]
Evaluation:  16%|â–ˆâ–Œ        | 4/25 [00:03<00:19,  1.08it/s]
Train:   0%|          | 0/6430 [00:00<?, ?it/s, accuracy=0.0469, train_loss=5.54]

	 - Recall@20 epoch 1: 0.062500
	 - MRR@20    epoch 1: 0.015652

Train:  98%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Š| 6294/6430 [01:43<00:02, 60.60it/s, accuracy=0.0156, train_loss=5.89]
Evaluation:  16%|â–ˆâ–Œ        | 4/25 [00:03<00:17,  1.23it/s]

	 - Recall@20 epoch 2: 0.070312
	 - MRR@20    epoch 2: 0.016145

---

## Step5. ëª¨ë¸ í…ŒìŠ¤íŠ¸

In [33]:
def test_model(model, args, test):
    test_recall, test_mrr = get_metrics(test, model, args, 20)
    print(f"\t - Recall@{args.k}: {test_recall:3f}")
    print(f"\t - MRR@{args.k}: {test_mrr:3f}\n")

test_model(model, args, test)

Evaluation:  15%|â–ˆâ–        | 4/27 [00:03<00:19,  1.19it/s]

	 - Recall@20: 0.101562
	 - MRR@20: 0.033907

---

## Step6. íšŒê³

- **SBR(Session-ased Recommendation)**   
í•´ë‹¹ ë…¼ë¬¸ì„ ì¢€ë” ì°¸ê³ í•´ë´ì•¼ê² ë‹¤.   


- **index ì˜¤ë¥˜**   
ì˜ˆì œì˜ ê²½ìš° ë°°ì¹˜ì‚¬ì´ì¦ˆê°€ 2048 ì´ì—ˆëŠ”ë° í•´ë‹¹ ë°ì´í„°ì— ì ìš©í•˜ë‹ˆ ì˜¤ë¥˜ê°€ ë°œìƒí–ˆë‹¤. ë°°ì¹˜ ì‚¬ì´ì¦ˆë¥¼ 128ê¹Œì§€ ì¤„ì´ì ëª¨ë¸ë§ì´ ê°€ëŠ¥í–ˆë‹¤.   


- **SessionID**   
drop_rate, Ir ë“±ì˜ í•˜ì´í¼íŒŒë¼ë¯¸í„°ë¥¼ ìˆ˜ì •í•´ë´ë„ ê²°ê³¼ê°’ì´ í¬ê²Œ ì¢‹ì•„ì§€ì§€ ì•Šì•˜ë‹¤. ì—­ì‹œ ë°ì´í„° ì „ì²˜ë¦¬ê°€ ì¤‘ìš”í•œ ê²ƒ ê°™ë‹¤. ê³°ê³°íˆ ìƒê°í•´ë³´ë‹ˆ SessionIDë¥¼ ë”°ë¡œ ìƒì„±í•˜ì§€ ì•Šê³  UserIDë¥¼ ì„¸ì…˜ìœ¼ë¡œ í™œìš©í•˜ë ¤ë‹¤ë³´ë‹ˆ ê²°ê³¼ê°’ì´ ì˜ ì¢‹ì§€ ëª»í•œ ê²ƒ ê°™ë‹¤. ì¶”í›„ ìš°ìˆ˜ë…¸ë“œë¥¼ ì°¸ê³ í•˜ì—¬ SessionIDë¥¼ ì§€ì •í•´ì„œ ì—°ìŠµí•´ë³¼ ì˜ˆì •ì´ë‹¤.