# üëç ÏòÅÌôî Ï∂îÏ≤úÏãúÏä§ÌÖú ÎßåÎì§Í∏∞(SBR)
**"Session based Recommendation ÏãúÏä§ÌÖú Ï†úÏûëÌïòÍ∏∞"**

#### üôÅ Î™©Ï∞®

1. Îç∞Ïù¥ÌÑ∞ Ï†ÑÏ≤òÎ¶¨
2. ÎØ∏ÎãàÎ∞∞Ïπò Íµ¨ÏÑ±
3. Î™®Îç∏ Íµ¨ÏÑ±
4. Î™®Îç∏ ÌïôÏäµ
5. Î™®Îç∏ ÌÖåÏä§Ìä∏
6. ÌöåÍ≥†

---

#### Î™®Îìà

In [1]:
from pathlib import Path
import os

import numpy as np
import pandas as pd

import datetime as dt
import warnings
warnings.filterwarnings('ignore')

import tensorflow as tf
from tensorflow.keras.layers import Input, Dense, Dropout, GRU
from tensorflow.keras.losses import categorical_crossentropy
from tensorflow.keras.models import Model
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.utils import to_categorical
from tqdm import tqdm

#### Í≤ΩÎ°ú

In [2]:
data_path = Path(os.getenv('HOME')+'/aiffel/yoochoose/data/') 
train_path = data_path / 'ratings.dat'

In [ ]:
# Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞
def load_data(data_path: Path, nrows=None):
    data = pd.read_csv(data_path, sep='::', header=None, usecols=[0, 1, 2, 3], dtype={0: np.int32, 1: np.int32, 2: np.int32}, nrows=nrows)
    data.columns = ['UserId', 'ItemId', 'Rating', 'Time']
    return data

data = load_data(train_path, None)
data.sort_values(['UserId', 'Time'], inplace=True)  # dataÎ•º idÏôÄ ÏãúÍ∞Ñ ÏàúÏÑúÎ°ú Ï†ïÎ†¨Ìï¥Ï§çÎãàÎã§.
data

---

## Step1. Îç∞Ïù¥ÌÑ∞ Ï†ÑÏ≤òÎ¶¨

- Ìï≠Î™©Î≥Ñ Í∏∞Î≥∏Î∂ÑÏÑù
- session length
- session time
- cleaning

In [4]:
# Ïú†Ï†Ä Ïàò, ÏïÑÏù¥ÌÖú Ïàò
data['UserId'].nunique(), data['ItemId'].nunique()

(6040, 3706)

**session length**

In [5]:
# Í∞Å Ïú†Ï†ÄÎãπ ÌÅ¥Î¶≠ Îç∞Ïù¥ÌÑ∞
session_length = data.groupby('UserId').size()
session_length

UserId
1        53
2       129
3        51
4        21
5       198
       ...
6036    888
6037    202
6038     20
6039    123
6040    341
Length: 6040, dtype: int64

In [6]:
# Ï§ëÍ∞ÑÍ∞í, ÌèâÍ∑†Í∞í 
session_length.median(), session_length.mean()

(96.0, 165.5975165562914)

In [7]:
# ÏµúÏÜå, ÏµúÎåÄ
session_length.min(), session_length.max()

(20, 2314)

In [8]:
# 0.1 ÌäπÏù¥Í∞í Ï†úÏô∏
session_length.quantile(0.999)

1343.181000000005

In [9]:
long_session = session_length[session_length==2314].index[0]
data[data['UserId']==long_session]

        UserId  ItemId  Rating        Time
696969    4169    1268       5   965333392
697168    4169    2617       4   965333392
697185    4169    2628       4   965333392
697219    4169    2653       4   965333392
697275    4169     423       3   965333392
...        ...     ...     ...         ...
697882    4169    3754       2  1024174347
695702    4169    1413       3  1024175031
697358    4169     494       4  1024175760
695945    4169    1804       2  1024175783
696446    4169    1548       3  1024176337

[2314 rows x 4 columns]

**session time**

In [10]:
# Ïú†Ï†ÄÏπúÌôîÏ†ÅÏù∏ ÏãúÍ∞Ñ ÌëúÏãú ÌòïÌÉúÎ°ú Î≥ÄÍ≤Ω
from datetime import datetime

date_list = []
for time in data['Time']:
    temp = dt.datetime.fromtimestamp(time)
    date_list.append(temp)

data['Time'] = date_list
data

         UserId  ItemId  Rating                Time
31            1    3186       4 2000-12-31 22:00:19
22            1    1270       5 2000-12-31 22:00:55
27            1    1721       4 2000-12-31 22:00:55
37            1    1022       5 2000-12-31 22:00:55
24            1    2340       3 2000-12-31 22:01:43
...         ...     ...     ...                 ...
1000019    6040    2917       4 2001-08-10 14:40:29
999988     6040    1921       4 2001-08-10 14:41:04
1000172    6040    1784       3 2001-08-10 14:41:04
1000167    6040     161       3 2001-08-10 14:41:26
1000042    6040    1221       4 2001-08-20 13:44:15

[1000209 rows x 4 columns]

In [11]:
# Í≥ºÍ±∞, ÏµúÏã†
oldest, latest = data['Time'].min(), data['Time'].max()
print(oldest) 
print(latest)

2000-04-25 23:05:32
2003-02-28 17:49:50

**cleaning**

In [12]:
# ÌèâÏ†êÏù¥ ÎÇÆÏùÄ Îç∞Ïù¥ÌÑ∞ Ï†úÍ±∞
data = data[data['Rating'] >= 3]
data

         UserId  ItemId  Rating                Time
31            1    3186       4 2000-12-31 22:00:19
22            1    1270       5 2000-12-31 22:00:55
27            1    1721       4 2000-12-31 22:00:55
37            1    1022       5 2000-12-31 22:00:55
24            1    2340       3 2000-12-31 22:01:43
...         ...     ...     ...                 ...
1000019    6040    2917       4 2001-08-10 14:40:29
999988     6040    1921       4 2001-08-10 14:41:04
1000172    6040    1784       3 2001-08-10 14:41:04
1000167    6040     161       3 2001-08-10 14:41:26
1000042    6040    1221       4 2001-08-20 13:44:15

[836478 rows x 4 columns]

---

## Step2. ÎØ∏ÎãàÎ∞∞Ïπò Íµ¨ÏÑ±

**Îç∞Ïù¥ÌÑ∞ÏÖã Î∂ÑÎ¶¨**

In [13]:
# Îç∞Ïù¥ÌÑ∞ÏÖã Î∂ÑÎ¶¨
def split_by_date(data: pd.DataFrame, n_days: int):
    final_time = data['Time'].max()
    session_last_time = data.groupby('Time')['Time'].max()
    session_in_train = session_last_time[session_last_time < final_time - dt.timedelta(n_days)].index
    session_in_test = session_last_time[session_last_time >= final_time - dt.timedelta(n_days)].index

    before_date = data[data['Time'].isin(session_in_train)]
    after_date = data[data['Time'].isin(session_in_test)]
    return before_date, after_date

In [14]:
tr, test = split_by_date(data, n_days=90)
tr, val = split_by_date(tr, n_days=90)

In [15]:
# Îç∞Ïù¥ÌÑ∞ ÌôïÏù∏
def stats_info(data: pd.DataFrame, status: str):
    print(f'* {status} Set Stats Info\n'
          f'\t Events: {len(data)}\n'
          f'\t Sessions: {data["UserId"].nunique()}\n'
          f'\t Items: {data["ItemId"].nunique()}\n'
          f'\t First Time : {data["Time"].min()}\n'
          f'\t Last Time : {data["Time"].max()}\n')

In [16]:
stats_info(tr, 'train')
stats_info(val, 'valid')
stats_info(test, 'test')

* train Set Stats Info
	 Events: 829175
	 Sessions: 6038
	 Items: 3623
	 First Time : 2000-04-25 23:05:32
	 Last Time : 2002-09-01 04:20:59

* valid Set Stats Info
	 Events: 3550
	 Sessions: 228
	 Items: 1553
	 First Time : 2002-09-01 19:41:39
	 Last Time : 2002-11-30 13:47:32

* test Set Stats Info
	 Events: 3753
	 Sessions: 230
	 Items: 1566
	 First Time : 2002-11-30 20:24:52
	 Last Time : 2003-02-28 17:49:50

In [17]:
# train ÏÖãÏúºÎ°ú ÌïôÏäµÌïòÎ©¥ÏÑú valid ÏÖãÏúºÎ°ú Í≤ÄÏ¶ùÌï©ÎãàÎã§.
def train_model(model, args):
    train_dataset = SessionDataset(args.tr)
    train_loader = SessionDataLoader(train_dataset, batch_size=args.batch_size)

    for epoch in range(1, args.epochs + 1):
        total_step = len(args.tr) - args.tr['UserId'].nunique()
        tr_loader = tqdm(train_loader, total=total_step // args.batch_size, desc='Train', mininterval=1)
        for feat, target, mask in tr_loader:
            reset_hidden_states(model, mask)  # Ï¢ÖÎ£åÎêú sessionÏùÄ hidden_stateÎ•º Ï¥àÍ∏∞ÌôîÌï©ÎãàÎã§. ÏïÑÎûò Î©îÏÑúÎìúÏóêÏÑú ÌôïÏù∏Ìï¥Ï£ºÏÑ∏Ïöî.

            input_ohe = to_categorical(feat, num_classes=args.num_items)
            input_ohe = np.expand_dims(input_ohe, axis=1)
            target_ohe = to_categorical(target, num_classes=args.num_items)

            result = model.train_on_batch(input_ohe, target_ohe)
            tr_loader.set_postfix(train_loss=result[0], accuracy = result[1])

        val_recall, val_mrr = get_metrics(args.val, model, args, args.k)  # valid setÏóê ÎåÄÌï¥ Í≤ÄÏ¶ùÌï©ÎãàÎã§.

        print(f"\t - Recall@{args.k} epoch {epoch}: {val_recall:3f}")
        print(f"\t - MRR@{args.k}    epoch {epoch}: {val_mrr:3f}\n")


def reset_hidden_states(model, mask):
    gru_layer = model.get_layer(name='GRU')  # modelÏóêÏÑú gru layerÎ•º Í∞ÄÏ†∏ÏòµÎãàÎã§.
    hidden_states = gru_layer.states[0].numpy()  # gru_layerÏùò parameterÎ•º Í∞ÄÏ†∏ÏòµÎãàÎã§.
    for elt in mask:  # maskÎêú Ïù∏Îç±Ïä§ Ï¶â, Ï¢ÖÎ£åÎêú ÏÑ∏ÏÖòÏùò Ïù∏Îç±Ïä§Î•º ÎèåÎ©¥ÏÑú
        hidden_states[elt, :] = 0  # parameterÎ•º Ï¥àÍ∏∞Ìôî Ìï©ÎãàÎã§.
    gru_layer.reset_states(states=hidden_states)


def get_metrics(data, model, args, k: int):  # validÏÖãÍ≥º testÏÖãÏùÑ ÌèâÍ∞ÄÌïòÎäî ÏΩîÎìúÏûÖÎãàÎã§. 
                                             # trainÍ≥º Í±∞Ïùò Í∞ôÏßÄÎßå mrr, recallÏùÑ Íµ¨ÌïòÎäî ÎùºÏù∏Ïù¥ ÏûàÏäµÎãàÎã§.
    dataset = SessionDataset(data)
    loader = SessionDataLoader(dataset, batch_size=args.batch_size)
    recall_list, mrr_list = [], []

    total_step = len(data) - data['UserId'].nunique()
    for inputs, label, mask in tqdm(loader, total=total_step // args.batch_size, desc='Evaluation', mininterval=1):
        reset_hidden_states(model, mask)
        input_ohe = to_categorical(inputs, num_classes=args.num_items)
        input_ohe = np.expand_dims(input_ohe, axis=1)

        pred = model.predict(input_ohe, batch_size=args.batch_size)
        pred_arg = tf.argsort(pred, direction='DESCENDING')  # softmax Í∞íÏù¥ ÌÅ∞ ÏàúÏÑúÎåÄÎ°ú sorting Ìï©ÎãàÎã§.

        length = len(inputs)
        recall_list.extend([recall_k(pred_arg[i], label[i], k) for i in range(length)])
        mrr_list.extend([mrr_k(pred_arg[i], label[i], k) for i in range(length)])

    recall, mrr = np.mean(recall_list), np.mean(mrr_list)
    return recall, mrr

In [18]:
# train setÏóê ÏóÜÎäî ÏïÑÏù¥ÌÖúÏù¥ val, testÍ∏∞Í∞ÑÏóê ÏÉùÍ∏∏ Ïàò ÏûàÏúºÎØÄÎ°ú train dataÎ•º Í∏∞Ï§ÄÏúºÎ°ú Ïù∏Îç±Ïã±Ìï©ÎãàÎã§.
id2idx = {item_id : index for index, item_id in enumerate(tr['ItemId'].unique())}

def indexing(df, id2idx):
    df['item_idx'] = df['ItemId'].map(lambda x: id2idx.get(x, -1))  # id2idxÏóê ÏóÜÎäî ÏïÑÏù¥ÌÖúÏùÄ Î™®Î•¥Îäî Í∞í(-1) Ï≤òÎ¶¨ Ìï¥Ï§çÎãàÎã§.
    return df

tr = indexing(tr, id2idx)
val = indexing(val, id2idx)
test = indexing(test, id2idx)

In [19]:
save_path = data_path / 'processed'
save_path.mkdir(parents=True, exist_ok=True)

tr.to_pickle(save_path / 'train.pkl')
val.to_pickle(save_path / 'valid.pkl')
test.to_pickle(save_path / 'test.pkl')

**SessionDataset**   
Îç∞Ïù¥ÌÑ∞Í∞Ä Ï£ºÏñ¥ÏßÄÎ©¥ ÏÑ∏ÏÖòÏù¥ ÏãúÏûëÎêòÎäî Ïù∏Îç±Ïä§Î•º Îã¥Îäî Í∞íÍ≥º ÏÑ∏ÏÖòÏùÑ ÏÉàÎ°ú Ïù∏Îç±Ïã±Ìïú Í∞íÏùÑ Í∞ñÎäî ÌÅ¥ÎûòÏä§Î•º ÎßåÎì¨

In [20]:
class SessionDataset:
    """Credit to yhs-968/pyGRU4REC."""

    def __init__(self, data):
        self.df = data
        self.click_offsets = self.get_click_offsets()
        self.session_idx = np.arange(self.df['UserId'].nunique())  # indexing to UserId

    def get_click_offsets(self):
        """
        Return the indexes of the first click of each session IDs,
        """
        offsets = np.zeros(self.df['UserId'].nunique() + 1, dtype=np.int32)
        offsets[1:] = self.df.groupby('UserId').size().cumsum()
        return offsets

In [21]:
tr_dataset = SessionDataset(tr)
tr_dataset.df.head(10)

    UserId  ItemId  Rating                Time  item_idx
31       1    3186       4 2000-12-31 22:00:19         0
22       1    1270       5 2000-12-31 22:00:55         1
27       1    1721       4 2000-12-31 22:00:55         2
37       1    1022       5 2000-12-31 22:00:55         3
24       1    2340       3 2000-12-31 22:01:43         4
36       1    1836       5 2000-12-31 22:02:52         5
3        1    3408       4 2000-12-31 22:04:35         6
7        1    2804       5 2000-12-31 22:11:59         7
47       1    1207       4 2000-12-31 22:11:59         8
0        1    1193       5 2000-12-31 22:12:40         9

In [22]:
tr_dataset.click_offsets

array([     0,     53,    169, ..., 828780, 828899, 829175], dtype=int32)

In [23]:
tr_dataset.session_idx

array([   0,    1,    2, ..., 6035, 6036, 6037])

**SessionDataLoader**   
SessionDataset Í∞ùÏ≤¥Î•º Î∞õÏïÑÏÑú SEssion-Parallel mini-batchÎ•º ÎßåÎì¨

In [24]:
class SessionDataLoader:
    """Credit to yhs-968/pyGRU4REC."""

    def __init__(self, dataset: SessionDataset, batch_size=50):
        self.dataset = dataset
        self.batch_size = batch_size

    def __iter__(self):
        """ Returns the iterator for producing session-parallel training mini-batches.
        Yields:
            input (B,):  Item indices that will be encoded as one-hot vectors later.
            target (B,): a Variable that stores the target item indices
            masks: Numpy array indicating the positions of the sessions to be terminated
        """

        start, end, mask, last_session, finished = self.initialize()  # initialize Î©îÏÜåÎìúÏóêÏÑú ÌôïÏù∏Ìï¥Ï£ºÏÑ∏Ïöî.
        """
        start : Index Where Session Start
        end : Index Where Session End
        mask : indicator for the sessions to be terminated
        """

        while not finished:
            min_len = (end - start).min() - 1  # Shortest Length Among Sessions
            for i in range(min_len):
                # Build inputs & targets
                inp = self.dataset.df['item_idx'].values[start + i]
                target = self.dataset.df['item_idx'].values[start + i + 1]
                yield inp, target, mask

            start, end, mask, last_session, finished = self.update_status(start, end, min_len, last_session, finished)

    def initialize(self):
        first_iters = np.arange(self.batch_size)    # Ï≤´ Î∞∞ÏπòÏóê ÏÇ¨Ïö©Ìï† ÏÑ∏ÏÖò IndexÎ•º Í∞ÄÏ†∏ÏòµÎãàÎã§.
        last_session = self.batch_size - 1    # ÎßàÏßÄÎßâÏúºÎ°ú Îã§Î£®Í≥† ÏûàÎäî ÏÑ∏ÏÖò IndexÎ•º Ï†ÄÏû•Ìï¥Îë°ÎãàÎã§.
        start = self.dataset.click_offsets[self.dataset.session_idx[first_iters]]       # data ÏÉÅÏóêÏÑú sessionÏù¥ ÏãúÏûëÎêú ÏúÑÏπòÎ•º Í∞ÄÏ†∏ÏòµÎãàÎã§.
        end = self.dataset.click_offsets[self.dataset.session_idx[first_iters] + 1]  # sessionÏù¥ ÎÅùÎÇú ÏúÑÏπò Î∞îÎ°ú Îã§Ïùå ÏúÑÏπòÎ•º Í∞ÄÏ†∏ÏòµÎãàÎã§.
        mask = np.array([])   # sessionÏùò Î™®Îì† ÏïÑÏù¥ÌÖúÏùÑ Îã§ ÎèåÏùÄ Í≤ΩÏö∞ maskÏóê Ï∂îÍ∞ÄÌï¥Ï§Ñ Í≤ÉÏûÖÎãàÎã§.
        finished = False         # dataÎ•º Ï†ÑÎ∂Ä ÎèåÏïòÎäîÏßÄ Í∏∞Î°ùÌïòÍ∏∞ ÏúÑÌïú Î≥ÄÏàòÏûÖÎãàÎã§.
        return start, end, mask, last_session, finished

    def update_status(self, start: np.ndarray, end: np.ndarray, min_len: int, last_session: int, finished: bool):  
        # Îã§Ïùå Î∞∞Ïπò Îç∞Ïù¥ÌÑ∞Î•º ÏÉùÏÑ±ÌïòÍ∏∞ ÏúÑÌï¥ ÏÉÅÌÉúÎ•º updateÌï©ÎãàÎã§.
        
        start += min_len   # __iter__ÏóêÏÑú min_len ÎßåÌÅº forÎ¨∏ÏùÑ ÎèåÏïòÏúºÎØÄÎ°ú startÎ•º min_len ÎßåÌÅº ÎçîÌï¥Ï§çÎãàÎã§.
        mask = np.arange(self.batch_size)[(end - start) == 1]  
        # endÎäî Îã§Ïùå ÏÑ∏ÏÖòÏù¥ ÏãúÏûëÎêòÎäî ÏúÑÏπòÏù∏Îç∞ startÏôÄ Ìïú Ïπ∏ Ï∞®Ïù¥ÎÇúÎã§Îäî Í≤ÉÏùÄ sessionÏù¥ ÎÅùÎÇ¨Îã§Îäî ÎúªÏûÖÎãàÎã§. maskÏóê Í∏∞Î°ùÌï¥Ï§çÎãàÎã§.

        for i, idx in enumerate(mask, start=1):  # maskÏóê Ï∂îÍ∞ÄÎêú ÏÑ∏ÏÖò Í∞úÏàòÎßåÌÅº ÏÉàÎ°úÏö¥ ÏÑ∏ÏÖòÏùÑ ÎèåÍ≤ÉÏûÖÎãàÎã§.
            new_session = last_session + i  
            if new_session > self.dataset.session_idx[-1]:  # ÎßåÏïΩ ÏÉàÎ°úÏö¥ ÏÑ∏ÏÖòÏù¥ ÎßàÏßÄÎßâ ÏÑ∏ÏÖò indexÎ≥¥Îã§ ÌÅ¨Îã§Î©¥ Î™®Îì† ÌïôÏäµÎç∞Ïù¥ÌÑ∞Î•º Îèà Í≤ÉÏûÖÎãàÎã§.
                finished = True
                break
            # update the next starting/ending point
            start[idx] = self.dataset.click_offsets[self.dataset.session_idx[new_session]]     # Ï¢ÖÎ£åÎêú ÏÑ∏ÏÖò ÎåÄÏã† ÏÉàÎ°úÏö¥ ÏÑ∏ÏÖòÏùò ÏãúÏûëÏ†êÏùÑ Í∏∞Î°ùÌï©ÎãàÎã§.
            end[idx] = self.dataset.click_offsets[self.dataset.session_idx[new_session] + 1]

        last_session += len(mask)  # ÎßàÏßÄÎßâ ÏÑ∏ÏÖòÏùò ÏúÑÏπòÎ•º Í∏∞Î°ùÌï¥Îë°ÎãàÎã§.
        return start, end, mask, last_session, finished

In [25]:
tr_data_loader = SessionDataLoader(tr_dataset, batch_size=4)
tr_dataset.df.head(15)

    UserId  ItemId  Rating                Time  item_idx
31       1    3186       4 2000-12-31 22:00:19         0
22       1    1270       5 2000-12-31 22:00:55         1
27       1    1721       4 2000-12-31 22:00:55         2
37       1    1022       5 2000-12-31 22:00:55         3
24       1    2340       3 2000-12-31 22:01:43         4
36       1    1836       5 2000-12-31 22:02:52         5
3        1    3408       4 2000-12-31 22:04:35         6
7        1    2804       5 2000-12-31 22:11:59         7
47       1    1207       4 2000-12-31 22:11:59         8
0        1    1193       5 2000-12-31 22:12:40         9
21       1     720       3 2000-12-31 22:12:40        10
44       1     260       4 2000-12-31 22:12:40        11
9        1     919       4 2000-12-31 22:22:48        12
51       1     608       4 2000-12-31 22:23:18        13
43       1    2692       4 2000-12-31 22:26:10        14

In [26]:
iter_ex = iter(tr_data_loader)

In [27]:
inputs, labels, mask =  next(iter_ex)
print(f'Model Input Item Idx are : {inputs}')
print(f'Label Item Idx are : {"":5} {labels}')
print(f'Previous Masked Input Idx are {mask}')

Model Input Item Idx are : [ 0 53 64 54]
Label Item Idx are :       [ 1 54 62 24]
Previous Masked Input Idx are []

---

## step3. Î™®Îç∏ Íµ¨ÏÑ±

In [28]:
def mrr_k(pred, truth: int, k: int):
    indexing = np.where(pred[:k] == truth)[0]
    if len(indexing) > 0:
        return 1 / (indexing[0] + 1)
    else:
        return 0


def recall_k(pred, truth: int, k: int) -> int:
    answer = truth in pred[:k]
    return int(answer)

In [29]:
def create_model(args):
    inputs = Input(batch_shape=(args.batch_size, 1, args.num_items))
    gru, _ = GRU(args.hsz, stateful=True, return_state=True, name='GRU')(inputs)
    dropout = Dropout(args.drop_rate)(gru)
    predictions = Dense(args.num_items, activation='softmax')(dropout)
    model = Model(inputs=inputs, outputs=[predictions])
    model.compile(loss=categorical_crossentropy, optimizer=Adam(args.lr), metrics=['accuracy'])
    model.summary()
    return model

In [30]:
class Args:
    def __init__(self, tr, val, test, batch_size, hsz, drop_rate, lr, epochs, k):
        self.tr = tr
        self.val = val
        self.test = test
        self.num_items = tr['ItemId'].nunique()
        self.num_sessions = tr['UserId'].nunique()
        self.batch_size = batch_size
        self.hsz = hsz
        self.drop_rate = drop_rate
        self.lr = lr
        self.epochs = epochs
        self.k = k

In [31]:
args = Args(tr, val, test, batch_size=128, hsz=50, drop_rate=0.1, lr=0.001, epochs=2, k=20)
model = create_model(args)

Model: "model"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         [(128, 1, 3623)]          0
_________________________________________________________________
GRU (GRU)                    [(128, 50), (128, 50)]    551250
_________________________________________________________________
dropout (Dropout)            (128, 50)                 0
_________________________________________________________________
dense (Dense)                (128, 3623)               184773
=================================================================
Total params: 736,023
Trainable params: 736,023
Non-trainable params: 0
_________________________________________________________________

---

## Step.4 Î™®Îç∏ÌïôÏäµ

In [32]:
train_model(model, args)

Train:  98%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñä| 6294/6430 [01:43<00:02, 60.73it/s, accuracy=0, train_loss=6.24]
Evaluation:  16%|‚ñà‚ñå        | 4/25 [00:03<00:19,  1.08it/s]
Train:   0%|          | 0/6430 [00:00<?, ?it/s, accuracy=0.0469, train_loss=5.54]

	 - Recall@20 epoch 1: 0.062500
	 - MRR@20    epoch 1: 0.015652

Train:  98%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñä| 6294/6430 [01:43<00:02, 60.60it/s, accuracy=0.0156, train_loss=5.89]
Evaluation:  16%|‚ñà‚ñå        | 4/25 [00:03<00:17,  1.23it/s]

	 - Recall@20 epoch 2: 0.070312
	 - MRR@20    epoch 2: 0.016145

---

## Step5. Î™®Îç∏ ÌÖåÏä§Ìä∏

In [33]:
def test_model(model, args, test):
    test_recall, test_mrr = get_metrics(test, model, args, 20)
    print(f"\t - Recall@{args.k}: {test_recall:3f}")
    print(f"\t - MRR@{args.k}: {test_mrr:3f}\n")

test_model(model, args, test)

Evaluation:  15%|‚ñà‚ñç        | 4/27 [00:03<00:19,  1.19it/s]

	 - Recall@20: 0.101562
	 - MRR@20: 0.033907

---

## Step6. ÌöåÍ≥†

- **SBR(Session-ased Recommendation)**   
Ìï¥Îãπ ÎÖºÎ¨∏ÏùÑ Ï¢ÄÎçî Ï∞∏Í≥†Ìï¥Î¥êÏïºÍ≤†Îã§.   


- **index Ïò§Î•ò**   
ÏòàÏ†úÏùò Í≤ΩÏö∞ Î∞∞ÏπòÏÇ¨Ïù¥Ï¶àÍ∞Ä 2048 Ïù¥ÏóàÎäîÎç∞ Ìï¥Îãπ Îç∞Ïù¥ÌÑ∞Ïóê Ï†ÅÏö©ÌïòÎãà Ïò§Î•òÍ∞Ä Î∞úÏÉùÌñàÎã§. Î∞∞Ïπò ÏÇ¨Ïù¥Ï¶àÎ•º 128ÍπåÏßÄ Ï§ÑÏù¥Ïûê Î™®Îç∏ÎßÅÏù¥ Í∞ÄÎä•ÌñàÎã§.   


- **SessionID**   
drop_rate, Ir Îì±Ïùò ÌïòÏù¥ÌçºÌååÎùºÎØ∏ÌÑ∞Î•º ÏàòÏ†ïÌï¥Î¥êÎèÑ Í≤∞Í≥ºÍ∞íÏù¥ ÌÅ¨Í≤å Ï¢ãÏïÑÏßÄÏßÄ ÏïäÏïòÎã§. Ïó≠Ïãú Îç∞Ïù¥ÌÑ∞ Ï†ÑÏ≤òÎ¶¨Í∞Ä Ï§ëÏöîÌïú Í≤É Í∞ôÎã§. Í≥∞Í≥∞Ìûà ÏÉùÍ∞ÅÌï¥Î≥¥Îãà SessionIDÎ•º Îî∞Î°ú ÏÉùÏÑ±ÌïòÏßÄ ÏïäÍ≥† UserIDÎ•º ÏÑ∏ÏÖòÏúºÎ°ú ÌôúÏö©ÌïòÎ†§Îã§Î≥¥Îãà Í≤∞Í≥ºÍ∞íÏù¥ ÏòÅ Ï¢ãÏßÄ Î™ªÌïú Í≤É Í∞ôÎã§. Ï∂îÌõÑ Ïö∞ÏàòÎÖ∏ÎìúÎ•º Ï∞∏Í≥†ÌïòÏó¨ SessionIDÎ•º ÏßÄÏ†ïÌï¥ÏÑú Ïó∞ÏäµÌï¥Î≥º ÏòàÏ†ïÏù¥Îã§.